#footer.text-muted
  .hidden-xs.hidden-sm
    include menu

  p.container
    span.hidden-xs
      ="Куратор проекта: "
    br.visible-xs
    a(href="https://twitter.com/"+curator.twitter)="@"+curator.twitter
