meta(charset="utf-8")

block title
  title= title

meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
meta(name="viewport" content="width=device-width")

link(href="//fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic&subset=latin,cyrillic,greek,greek-ext,vietnamese,latin-ext,cyrillic-ext" rel="stylesheet")
link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous")
link(href=helpers.bust("/css/styles.css") rel="stylesheet")

meta(property="og:site_name" content=site.title)
meta(property="article:author" content=site.site_url + "about/")

meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@"+ underhood.name)

block meta
