include menu

.header
  .container
    .page-header
      h1.site-title.text-muted
        block headerTitle
      p #{site.description}
        br
        b.text-muted Уже #{numbers(people(latestInfo.followers_count))} в теме
  .container
    include share-text
