.navbar
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.visible-xs(href="/")
        span.text-muted @
        b= underhood.name
    .navbar-collapse.collapse#navbar-collapse
      .row
        ul.nav.navbar-nav
          li
            a.btn.btn-success(href="https://twitter.com/"+underhood.name)
              b Подписаться
          li
            a(href="/stats/") Статистика
          li
            a(href="/about/") О проекте
          li
            a(href="/authoring/") Стать автором
          li
            a(href="/instruction/") Автору
          li.hidden-sm
            a(href="https://github.com/"+github.user+"/"+github.repo) GitHub
          li.hidden-sm
            a(href="https://github.com/iamstarkov/awesome-collective-twitters") Похожие проекты
