doctype html
html(dir="LTR" lang="ru")
  head
    include head

  body(data-spy="scroll" data-target="#scroll-spy")
    #wrapper
      #content
        include header
        block content
    include footer
    include gauges
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous")
    script(src="//cdn.rawgit.com/googlemaps/js-rich-marker/gh-pages/src/richmarker-compiled.js")
    script(src="/app.js")
